html, body { 
    margin: 0; 
    height: 100%; 
}
body {
    font-family: "Montserrat", system-ui, -apple-system, "Segoe UI", Roboto, Arial, "Noto Sans", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: aliceblue;

    /*чтобы footer снизу отобразился*/
    display: flex;
    flex-direction: column;
}

.background-video{
    position: fixed; 
    inset: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

header nav ul{
    display: flex;
    flex-direction:row;
    list-style:none;
    align-items: center;
    gap: 15px;
    margin: 0;
    
}

header nav {
    background-color: rgba(0, 0, 0, 0.508);
}

a {
    color:rgb(146, 255, 255);
    text-decoration-line: none;
}

a:hover, a:focus-visible{
    text-decoration: underline;
    color: rgb(255, 255, 255);
}

main{
    margin: 40px;
}

footer {
    margin-top: auto;
    background: rgba(0, 0, 0, 0.508);
    padding-block: 24px;
}

footer p { margin-left: 40px; margin-top: 0;}

footer a {
    display: block;
    margin-left: 40px;
}

footer { padding-block: 15px; }