html, body { 
    margin: 0; 
    height: 100%; 
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    font-style: normal;
    color: aliceblue;

    display: flex;
    flex-direction: column;
}

.background-video{
    position: fixed; 
    inset: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

header nav ul{
    display: flex;
    flex-direction:row;
    list-style:none;
    align-items: center;
    gap: 15px;
    margin: 0;
    
}

header nav {
    background-color: rgba(0, 0, 0, 0.508);
    backdrop-filter: blur(10px);
}

a {
    color:rgb(146, 255, 255);
    text-decoration-line: none;
}

a:hover, a:focus-visible {
    text-decoration: underline;
    color: aliceblue;
}

img {
    width: 350px;
    height: 438px;
    border-radius: 90px;
    padding: 40px;
    padding-bottom: 20px;
    margin: 0;
}

table img {
    width: 250px;
    height: auto;
    border-radius: 90px;
    padding: 40px;
    padding-bottom: 20px;
    margin: 0;
}

table p{
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
}

.rectangle_info{
    display:flex;
    flex-direction: column;
    align-items: flex-start;

    width: 1395px;
    height: 4700px;
    border-radius: 90px;
    background-color: rgba(0, 0, 0, 0.508);
    backdrop-filter: blur(20px);
    
    margin: 40px;
    
}

.part_img{
    display: flex;
    gap:10px;
    order:1;
}

.part_text{
    flex: 1;
    gap: 10px;
    order: 3;
    padding: 0;
    margin-right: 40px;
    margin-left: 0px;
    margin-top: 20px;
}

.part_text h1 {
    margin-bottom: 0;
}

.table{
    order: 4;
}

table {
    width: 1315px;
    height: 500px;
    margin: 40px;
    border: 4px solid aliceblue;
    border-radius: 9px;
    border-spacing: 0px;
}


table td {
    padding: 5px;
    border: 1px solid;
    
}

footer {
    margin-top: auto;
    background: rgba(0, 0, 0, 0.508);
    padding-block: 24px;
    backdrop-filter: blur(10px);
}

footer p { margin-left: 40px; margin-top: 0;}

footer a {
    display: block;
    margin-left: 40px;
}

footer { padding-block: 15px; }