html, body { 
    margin: 0; 
    height: 100%; 
}
body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    font-style: normal;
    color: aliceblue;

    /*чтобы footer снизу отобразился*/
    display: flex;
    flex-direction: column;
}

.background-video{
    position: fixed; 
    inset: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

header nav ul{
    display: flex;
    flex-direction:row;
    list-style:none;
    align-items: center;
    gap: 15px;
    margin: 0;
    
}

header nav {
    background-color: rgba(0, 0, 0, 0.508);
    backdrop-filter: blur(10px);
}

a {
    color:rgb(146, 255, 255);
    text-decoration-line: none;
}

a:hover, a:focus-visible{
    text-decoration: underline;
    color: aliceblue;
}

img {
    width: 350px;
    height: 438px;
    border-radius: 90px;
    padding: 40px;
    padding-bottom: 20px;
    padding-right: 0;
    margin: 0;
    float: left;
    
}

.rectangle_info{
    display:flex;
    align-items: flex-start;
    gap:20px;
    /*
    
    

    overflow:hidden;
    */

    width: 1395px;
    height: 1000px;
    border-radius: 90px;
    background-color: rgba(0, 0, 0, 0.508);
    backdrop-filter: blur(20px);
    
    margin: 40px;
    
}

.part_img{
    flex:1;
    
}

.part_text{
    flex: 1;
    padding-top: 40px;
    padding-left: 20px;
    margin-left: 20px;
    margin-top: 0;
}

/*
table {
    width: 600px;
    height: 287px;
    border: 1px solid aliceblue;
    border-radius: 15px;
}

.table td{
    border: 1px solid
    border-radius: 10px;
}

justify-content: space-between;
    float:right; 
table td {
    padding: 5px;
    
}*/

footer {
    margin-top: auto;
    background: rgba(0, 0, 0, 0.508);
    padding-block: 24px;
    backdrop-filter: blur(10px);
}

footer p { margin-left: 40px; margin-top: 0;}

footer a {
    display: block;
    margin-left: 40px;
}

footer { padding-block: 15px; }